<!-- List -->
<h3 id="certifications" class="text-2xl font-bold mb-3 text-gray-800 dark:text-neutral-200">Certifications</h3>
<ul class="space-y-10">
  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">
      5th April-2025
    </p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      Certification in Design UX - Google
    </h5>
    <p class="mt-1 mb-4 text-sm text-gray-500 dark:text-neutral-500 text-justify">
      I earned the Google UX Design Professional Certificate, completing seven courses 
      focused on user experience design. This program, developed by Google, provided 
      hands-on training in user research, wireframes, prototypes, usability testing, and 
      design principles to create intuitive and user-centered digital solutions.
    </p>
   <picture>
    <img src="images/certification-ux.png" alt="certification-ux-picture">
   </picture>
  </li>
</ul>
<!-- End List -->