<!-- List -->
<h3 id="certifications" class="text-2xl font-bold mb-3 text-gray-800 dark:text-neutral-200">
  Certificaciones
</h3>
<ul class="space-y-10">
  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">05/Abril/2025</p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      Certification en Design UX - Google
    </h5>
    <p class="mt-1 mb-4 text-sm text-gray-500 dark:text-neutral-500 text-justify">
    Obtuve el <strong>Certificado Profesional de Google en UX Design</strong>, 
    completando siete cursos enfocados en <strong>diseño de experiencia de usuario</strong>. 
    Este programa, desarrollado por Google, proporcionó formación práctica en 
    <strong>investigación de usuarios</strong>, <strong>wireframes</strong>, 
    <strong>prototipos</strong>, <strong>pruebas de usabilidad</strong> y 
    <strong>principios de diseño</strong> para crear 
    <strong>soluciones digitales intuitivas y centradas en el usuario</strong>.
    </p>
    <picture>
      <img src="images/certification-ux.png" alt="certification-ux-picture" />
    </picture>
  </li>
  <li>
    <p class="mb-2 text-sm text-gray-500 dark:text-neutral-500">11/septiembre/2025</p>
    <h5 class="font-medium text-sm text-gray-800 dark:text-neutral-200">
      Certification en Open Payments con Interledger - Platzi
    </h5>
    <p class="mt-1 mb-4 text-sm text-gray-500 dark:text-neutral-500 text-justify">
    Completé la <strong>certificación Open Payments con Interledger</strong> de Platzi, 
    adquiriendo conocimientos integrales en <strong>protocolos de pago modernos</strong> 
    y <strong>soluciones de interoperabilidad</strong>. Este programa cubrió los 
    fundamentos del <strong>Protocolo Interledger (ILP)</strong>, sistemas de pago transfronterizos, 
    integración de billeteras digitales y la implementación de estándares de pago abiertos para 
    crear transacciones financieras fluidas a través de diferentes redes y monedas.
    </p>
    <picture>
      <img src="images/OpenPayments-certification.png" alt="open-payments-certification-picture" />
    </picture>
  </li>
</ul>
<!-- End List -->