<!-- Timeline -->
<br />
<h3 id="experience" class="text-2xl font-bold mb-4 text-gray-800 dark:text-neutral-200">
  Experience
</h3>
<div>
  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon with line -->
    <div class="flex flex-col items-center">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="200">
          <image
            href="https://www.unsis.edu.mx/images/unsis_large.png"
            x="-6"
            y="0"
            width="130"
            height="200"
          />
        </svg>
      </div>
      <!-- Line connector -->
      <div class="w-0.5 h-24 bg-gray-800 dark:bg-gray-300 mt-2"></div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">June 2025 - Present</h3>
      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Backend Web Developer
      </p>
      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400 text-justify">
        Currently, I am collaborating on the development of a web application for the university’s 
        socioeconomic study. The app focuses on generating dynamic queries from an existing PostgreSQL 
        database, providing statistical insights in a clear and efficient way. We are building it with 
        Java 21 and Spring, following the principles of Clean Architecture to ensure scalability and 
        maintainability. The application is also planned to be scaled into microservices to enable 
        statistics for additional datasets beyond the socioeconomic study.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon with line -->
    <div class="flex flex-col items-center">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="currentColor">
          <path d="M319-236.67h118.67v-38.66h-80v-44h80V-438H319v38.67h80V-358h-80v121.33Zm284 0h38.67V-438H603v80h-41.33v-80H523v118.67h80v82.66Zm237.33-282v332q0
           27-19.83 46.84Q800.67-120 773.67-120H186.33q-27 0-46.83-19.83-19.83-19.84-19.83-46.84v-332q-26.34-23-36.5-57.33-10.17-34.33 1.16-70.67L127-782q8-26.67 
           28.17-42.33Q175.33-840 201.67-840h554q27.66 0 48.33 15.83 20.67 15.84 29 42.17l43.33 135.33q11.34 36.34.84 70.34t-36.84 57.66Zm-270.66-34.66q28.33 0 46.33-18.84
           18-18.83 14.33-44.5l-24-156.66h-92.66V-614q0 24.33 16 42.5t40 18.17Zm-184.67 0q26.33 0 44.17-17.84Q447-589 447-614v-159.33h-92.67l-24 156.66q-4 25.34 12.84
           44.34 16.83 19 41.83 19Zm-180.67 0q22 0 38.17-15.34 16.17-15.33 19.17-38l24.66-166.66h-92.66l-44 142q-8.67 27.33 7.5 52.66 16.16 25.34 47.16 25.34Zm551.34 
           0q31 0 47.66-25 16.67-25 7.67-53l-44.67-142h-92L699-606.67q3 22.67 19.17 38 16.16 15.34 37.5 15.34ZM186.33-186.67h587.34V-488q-1 1.33-6.5 1.33h-11.5q-25.67 
           0-47.5-10-21.84-10-43.17-31.33-16.67 19.33-40.33 30.33-23.67 11-51.67 11-29 0-51.17-9-22.16-9-41.5-28.33-15.66 18-38.5 27.67-22.83 9.66-50.83 9.66-30.33 
           0-54.17-10.66Q313-508 295.67-528q-23 21-45.17 31.17-22.17 10.16-46.17 10.16h-10.5q-5.16 0-7.5-1.33v301.33Zm587.34 0H186.33h587.34Z"/>
        </svg>
      </div>
      <!-- Line connector -->
      <div class="w-0.5 h-24 bg-gray-800 dark:bg-gray-300 mt-2"></div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">2024-2025</h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        Full-Stack Developer with Java Spring and Angular
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400 text-justify">
        I developed a sales management system for a retail store using Java 21 (SpringBoot), 
        PostgreSQL and Angular 17. The system included core functionalities such as sales 
        registration, inventory control, user and role management, ensuring efficient 
        operation and secure access.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon with line -->
    <div class="flex flex-col items-center">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="200">
          <image
            href="https://www.unsis.edu.mx/images/unsis_large.png"
            x="-6"
            y="0"
            width="130"
            height="200"
          />
        </svg>
      </div>
      <!-- Line connector -->
      <div class="w-0.5 h-24 bg-gray-800 dark:bg-gray-300 mt-2"></div>
    </div>
    <!-- End Icon -->

    <!-- Right Content -->
    <div class="grow pb-8 group-last:pb-0">
      <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">2024-2025</h3>

      <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
        University Project
      </p>

      <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400 text-justify">
        As a collaborator alongside three classmates in the Web Technologies I & II courses, 
        I contributed to the development of a web solution designed to automate the generation 
        of certificates for university events. Built with Vue.js, Java 21 (Spring), and PostgreSQL, 
        the system featured a certificate editor and PDF export functionality, streamlining the 
        process and reducing manual effort.
      </p>
    </div>
    <!-- End Right Content -->
  </div>
  <!-- End Item -->

  <!-- Item -->
  <div class="group relative flex gap-x-5">
    <!-- Icon (last item, no line) -->
    <div class="flex flex-col items-center">
      <div class="relative z-10 size-6 flex justify-center items-center">
        <svg
          class="shrink-0 size-6 text-gray-800 dark:text-neutral-200"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M12 12h.01" />
          <path d="M16 6V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v2" />
          <path d="M22 13a18.15 18.15 0 0 1-20 0" />
          <rect width="20" height="14" x="2" y="6" rx="2" />
        </svg>
      </div>
      <!-- No line for last item -->
    </div>
    <!-- End Icon -->
  </div>
  <!-- End Item -->
</div>
<!-- End Timeline -->
