<!-- Grid -->
 <h3 id="education" class="text-2xl font-bold mb-4 mt-4 text-gray-800 dark:text-neutral-200">Education</h3>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3">

  <div class="p-4 border border-gray-200 rounded-lg dark:border-neutral-700">
    <img src="cbtis.png" width="40px" alt="">
    
    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2019-2022
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      Technical High School Degree in Computer Science
      <br>(Técnico en soporte y mantenimiento a equipos de computo)
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      CBTis 183 Justo Sierra Méndez
    </p>
  </div>

  <div class="flex-row border border-gray-200 rounded-lg dark:border-neutral-700 items-center">
    <img src="unsis_large.png" alt="unsis logo" width="100%">

    <h3 class="mb-1 text-xs text-gray-600 dark:text-neutral-400">
      2022-present
    </h3>

    <p class="font-semibold text-sm text-gray-800 dark:text-neutral-200">
      Bachelor’s Degree in Computer Science <br>(Licenciatura en Informática)
    </p>

    <p class="mt-1 text-sm text-gray-600 dark:text-neutral-400">
      Universidad de la Sierra Sur
    </p>
  </div>
</div>
<!-- End Grid -->